DESTINY_REPOSITORY_URL=http://127.0.0.1:8000/robot/enhancement/
ROBOT_ID=<CLIENT_ID_FOR_TALKING_TO_DESTINY_REPO>
ROBOT_SECRET=<CLIENT_SECRET_FOR_TALKING_TO_DESTINY_REPO>
ENV=staging
ELSEVIER_SCOPUS_KEY="an_api_key"
ELSEVIER_SCOPUS_INST_TOKEN="inst token, if using"
MAILTO="test@test.com"
POLL_INTERVAL_SECONDS=3600
BATCH_SIZE=20
STORAGE_BLOB_ACCOUNT=
STORAGE_BLOB_CONTAINER=
STORAGE_BLOB_ACCOUNT_KEY=
